### Qno.4) Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [2]:
list_movie = ["Soulmate","20th Centurary Girl","Mr.Queen"]
print(list_movie)

['Soulmate', '20th Centurary Girl', 'Mr.Queen']

In [3]:
list_movie2 = ["Little Women","Reply 1998"]
list_movie.append(list_movie2)
print(list_movie)

['Soulmate', '20th Centurary Girl', 'Mr.Queen', ['Little Women', 'Reply 1998']]

### Q.no5) Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [7]:
list_num = [1,2,3,4,5,6,7,8,9,10]
for num in list_num:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [11]:
result = 0
for num in list_num:
  result += num
print("Sum of numbers is" , result)

Sum of numbers is 55

### Q.no6) Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [14]:
mixed_data = ["Tom","Jerry",1,2,3,8.80,10.89]
print(mixed_data)

['Tom', 'Jerry', 1, 2, 3, 8.8, 10.89]

In [15]:
modified_data = mixed_data.pop(0)
print(modified_data)

Tom

### Q.no7) Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [17]:
days = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for day in days:
    print (day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [19]:
print(days[3])

Wednesday

### Q.no8) Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [21]:
colors = ("Red","Pink","Green")
print(colors)

('Red', 'Pink', 'Green')

In [23]:
if "Pink" in colors:
    print("Pink")

Pink

### Q.no9)Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [25]:
book = {
    "title":"Occean",
    "author":"Evan",
    "year":1978
}
print(book)

{'title': 'Occean', 'author': 'Evan', 'year': 1978}

In [26]:
book.update({"year":2001})
print(book)

{'title': 'Occean', 'author': 'Evan', 'year': 2001}

### Q.no10)Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.

In [27]:
names = {
    "Orange" : "Orange",
    "Apple" : "Red",
    "Lemon" : "Green",
}
print(names)

{'Orange': 'Orange', 'Apple': 'Red', 'Lemon': 'Green'}

In [29]:
names["strawberry"] = "Pink"
print(names)

{'Orange': 'Orange', 'Apple': 'Red', 'Lemon': 'Green', 'strawberry': 'Pink'}

### Q.no11)Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [31]:
population = {
    "kathmandu":2041578,
    "Bhaktapur":79136,
    "lalitpur":551667
}
print(population)

{'kathmandu': 2041578, 'Bhaktapur': 79136, 'lalitpur': 551667}

In [34]:
del population["lalitpur"]
print(population)

{'kathmandu': 2041578, 'Bhaktapur': 79136}